
:root {
  --bg:#171717;
  --panel:#0f0f0f;
  --muted:#9ea6ac;
  --card:#fff;
  --accent:#1a1a1a;
}
* { box-sizing:border-box; }
body {
  margin:0;
  font-family:Satoshi;
  background:var(--bg);
  color:#fff;
  height:100vh;
  overflow:hidden;
  
}

.top-bar {
  position:fixed;
  top:0; left:0; right:0;
  height:55px;
  background:#171717;
  border-bottom:1px solid #212936;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:8px 14px;
  z-index:1200;
}
.btn {
  padding:8px 8px;
  background:transparent;
  font-size: 0.75rem;
  color:#9da3ae;
  cursor:pointer;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  
}
.btn:hover{
    background-color: #212936;
    color: white;
}
#buildBtn{
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
  color:#cfcfcf;
  font-weight:500;
  font-size: 0.8rem;
  display:flex;
  gap:7px;
  background:#1a1a1a;
 
  border-radius:8px;
}
.mode-toggle, .device-toggle {
  display:flex;
  gap:7px;
  background:#1a1a1a;
  padding:4px;
  border-radius:8px;
}
.mode-btn, .dev-btn {
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
  color:#cfcfcf;
  font-weight:500;
  font-size: 0.8rem;
  
}
.mode-btn.active, .dev-btn.active {
  background:#fff;
  color:#000;
  
}
#buildBtn:hover{
  background:#212936;
  color:#ffffff;
}

.main {
  margin-top: 55px;
  display:flex;
  height:calc(100vh - 60px);
  width:100%;
  overflow:hidden;
}

.sidebar {
  width:55px;
  background:#0f0f0f;
  border-right:1px solid #212936;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:12px;
  padding-top:10px;
  flex-shrink:0;
}
.tab-icon {
  width:36px; height:36px;
  color: #9da3ae;
  
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.1rem;
  cursor:pointer;
}
.tab-icon.active {
  background:#fff;
  color:#000;
}
.tab-icon:hover{
    background-color: #212936;
    color: white;
}
.active:hover{
  background:#fff;
  color:#000;
}

.editor {
  width:330px;
  background:var(--bg);
  border-right:1px solid #212936;
  overflow-y:auto;
  transition: all .2s ease;
  flex-shrink:0;
}
.editor.hidden {
  display:none;
}


.section h3{
    margin: 0px;
    font-size: 0.9rem;
    border-bottom: 1px solid #212936;
    padding: 10px 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section div{
    padding-left: 14px;
    padding-right: 14px;
    font-size: 0.9rem;
    font-weight: 500;
}

.form-row {
  margin-bottom:12px;
}
.form-row label {
  font-size: 0.9rem;
  font-weight: 500;
  color:#ffffff;
  margin-bottom:6px;
  display:block;
}
.form-row input,
.form-row textarea {
  margin-top: 2px;
  font-size: 0.9rem;
  width:100%;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 10px;
  background:#101010;
  color:#fff;
  border:1px solid #212936;
  border-radius:11px;
  font-weight: 400;
  outline: none;
  font-family: Satoshi;
}
.form-row textarea {
  min-height:80px;
  resize:vertical;
}
.add-btn,.add-tag-btn {
  
  padding:6px 10px;
  border:1px solid #212936;
  background:transparent;
  color: white;
  border-radius:8px;
  cursor:pointer;
  font-size: 0.8rem;
}
.add-btn:hover{
    background-color: #212936;
}
hr{
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
    border: none;
    border-top: 1px solid #232629;
}
.ctabtn{
    display: flex;
    flex-direction: column;
    border: 1px solid #232629;
    margin-left: 14px;
    margin-right: 14px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ctabtn div{
    padding: 0px;
}
.cta-row-acc {
    display: flex;
    flex-direction: row;
    gap: 12px; 
    margin-top: 15px;             
    
}

.cta-row {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    min-width: 0;            
}

.cta-row label {
    margin-bottom: 6px;
}

.cta-row input {
    font-size: 0.9rem;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 10px;
    border: 1px solid #212936;
    border-radius: 11px;
    background: transparent;
    color: white;
    font-weight: 400;
    outline: none;
    font-family: Satoshi;

    margin-top: 2px;
    font-size: 0.9rem;

  
    background:#101010;
}
textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background: #232629;
    border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: #232629;
}
aside::-webkit-scrollbar {
    width: 6px;
}

aside::-webkit-scrollbar-track {
    background: transparent;
}

aside::-webkit-scrollbar-thumb {
    background: #232629;
    border-radius: 20px;
}

aside::-webkit-scrollbar-thumb:hover {
    background: #232629;
}

.form-row span:hover{
    background-color: #212936;
}





.project-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    color: white;
    
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.project-header .delete-card {
    color: #ff6666;
    cursor: pointer;
    font-size: 1rem;
}

.project-card input,
.project-card textarea {
    width: 100%;
    padding: 10px 14px;
    margin: 6px 0 14px;
    border: 1px solid #333;
    border-radius: 12px;
    background: #000;
    color: white;
    outline: none;
    resize: none;
    font-family: Satoshi;
}

.project-card input:focus,
.project-card textarea:focus {
    border-color: #666;
}


.tags-list {
    margin-left: -14px;
    margin-right: -14px;
}


.experience-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    color: white;
    
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.experience-header .delete-card {
    color: #ff6666;
    cursor: pointer;
    font-size: 1rem;
}

.experience-card input,
.experience-card textarea {
    width: 100%;
    padding: 10px 14px;
    margin: 6px 0 14px;
    border: 1px solid #333;
    border-radius: 12px;
    background: #000;
    color: white;
    outline: none;
    resize: none;
    font-family: Satoshi;
}

.experience-card input:focus,
.experience-card textarea:focus {
    border-color: #666;
}



.education-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    color: white;
    
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.education-header .delete-card {
    color: #ff6666;
    cursor: pointer;
    font-size: 1rem;
}

.education-card input,
.education-card textarea {
    width: 100%;
    padding: 10px 14px;
    margin: 6px 0 14px;
    border: 1px solid #333;
    border-radius: 12px;
    background: #000;
    color: white;
    outline: none;
    resize: none;
    font-family: Satoshi;
}

.education-card input:focus,
.education-card textarea:focus {
    border-color: #666;
}

.achievement-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    color: white;
    
}

.achievement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.achievement-header .delete-card {
    color: #ff6666;
    cursor: pointer;
    font-size: 1rem;
}

.achievement-card input,
.achievement-card textarea {
    width: 100%;
    padding: 10px 14px;
    margin: 6px 0 14px;
    border: 1px solid #333;
    border-radius: 12px;
    background: #000;
    color: white;
    outline: none;
    resize: none;
    font-family: Satoshi;
}

.achievement-card input:focus,
.achievement-card textarea:focus {
    border-color: #666;
}

.social-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    color: white;
    
}

.social-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.social-header .delete-card {
    color: #ff6666;
    cursor: pointer;
    font-size: 1rem;
}

.social-card input,
.social-card textarea {
    width: 100%;
    padding: 10px 14px;
    margin: 6px 0 14px;
    border: 1px solid #333;
    border-radius: 12px;
    background: #000;
    color: white;
    outline: none;
    resize: none;
    font-family: Satoshi;
}

.social-card input:focus,
.social-card textarea:focus {
    border-color: #666;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  cursor: pointer;
  transform: scale(0.7);
}

.toggle-input {
  display: none;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #232629;
  border-radius: 999px;
  transition: .3s;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background: #0f0f0f;
  border-radius: 50%;
  transition: .3s;
}

.toggle-input:checked + .toggle-slider {
  background: #ffffff; 
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(22px);
}



.preview-area {
  flex:1;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  background:var(--bg);
  overflow:auto;
  padding: 25px;
}
.preview-frame {
  
  width:100%;
  height:100%;
  border:none;
  background:#fff;
  border-radius:8px;
  transition: width .2s, margin .2s, border-radius .2s;
}

@media (max-width:820px) {


  .device-toggle {
    display:none !important;
  }

  
  .sidebar {
    position:fixed;
    top:60px;
    left:0;
    height:calc(100vh - 60px);
    z-index:1500;
    display:none; 
  }

  .editor {
    position:fixed;
    top:60px;
    left:60px;
    width:calc(100% - 60px);
    height:calc(100vh - 60px);
    display:none; 
    z-index:1400;
    overflow-y:auto;
  }

  .preview-area {
    padding-left: 0px;
    padding-right: 0px;
    width:100%;
    height:100%;
  }

  .preview-frame {
    width:100%;
    height:calc(100vh - 60px);
    border-radius:0;
    margin:0;
  }
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
   /* -webkit-backdrop-filter: blur(1000px); */
}

.alert-box {
  background: #171717;
  width: 90%;
  max-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 12px;
  text-align: center;
  animation: scaleIn 0.25s ease;
  border: 1px solid #212936;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.actions button {
  padding: 4px 10px;
  border: none;
  background: #fffcfc;
  color: #000000;
  border-radius: 8px;
  cursor: pointer;
  font-family: Satoshi;
}

.hidden {
  display: none;
}

@keyframes scaleIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
